$icon: #98b583;
$textColor: #343006;
$backgroundGlobal: radial-gradient(circle,#faedd8, #EBF4F6,#cfe7ec, #bee1e8 );
$backGroundModal: #f1f8fb;
$colorBox: #e0f1ef;
$colorBoxHover: #dfcdad;
$borderImage: #A0937D;
$colorButton: #e3f0f0;